.container {
    margin: 20px auto;
    max-width: 800px;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    color: #2f9e41;
}

body {
    margin: 0px;
}

html {
    margin: 0px;
}